.wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1, h2, #rules, .opening-screen{
    width: 100%;
    text-align: center;
}

#rules ol li{
    text-align: left;
    padding: 0 10px;
}

#game{
    /* display:flex; */
    width:40%;
    flex-wrap: wrap;
    text-align: center;
    display:none;
}

.spaces{
    /* border: solid black 1px; */
    /* background-color: black; */
    border: black solid 1px;
    width: 21%;
}

.spaces:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

.game-button{
    width: 50%
}

#start{
    height: 30px;
}

/* hides the spaces separately, since we only want to make visible the correct spaces for a given playfield size*/
.spaces{
    display: none;
}