.wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1, h2{
    width: 100%;
    text-align: center;
}

.game{
    display:flex;
    width:40%;
    flex-wrap: wrap;
    text-align: center;
}

.spaces{
    /* border: solid black 1px; */
    /* background-color: black; */
    border: black solid 1px;
    width: 21%;
}

.spaces:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

#start{
    height: 30px;
}

/* hide everything when the game starts */
.game-status, .spaces{
    visibility: hidden;
}